{% extends '_base.html' %}

{% block title %}List Mailboxes{% endblock %}

{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <h3 class='d-inline-block'>Mailboxes</h3>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Server Address</th>
                    <th>Owner</th>
                    <th>Guest</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Email Address</th>
                    <th>Server Address</th>
                    <th>Owner</th>
                    <th>Guest</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% for mailbox in owner_mailboxes %}
                    <tr>
                        <th>{{mailbox.email_address}}</th>
                        <th>{{mailbox.server_address}}</th>
                        <th>True</th>
                        <th>False</th>
                        <th>
                            <a href="{% url 'mailbox:mailbox_details_url' mailbox.pk %}" class="btn btn-primary btn-sm">Details</a>
                            <a href="{% url 'mailbox:mailbox_delete_url' mailbox.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
                {% for mailbox in guest_mailboxes %}
                    <tr>
                        <th>{{mailbox.email_address}}</th>
                        <th>{{mailbox.server_address}}</th>
                        <th>False</th>
                        <th>True</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}