# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# PID files #
*.pid

# Celery-beat schedule file #
celerybeat-schedule

# Supervisord #
supervisord.log

# Environment variables #
.env

# Pytest #
.pytest_cache