{% extends '_base.html' %}

{% block title %}Mailbox{% endblock %}

{% block content %}
<h2 class='d-inline-block'>Mailbox</h2>
<div class='container'>
    <dl class='row'>
        <dt class="col-sm-3">Email Address</dt>
        <dd class="col-sm-9">{{ mailbox.email_address }}</dd>
        <dt class="col-sm-3">Server Address</dt>
        <dd class="col-sm-9">{{ mailbox.server_address }}</dd>
        <dt class="col-sm-3">Owner</dt>
        <dd class="col-sm-9">{{ mailbox.owner }}</dd>
    </dl>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <h5 class='d-inline-block'>Guests</h5>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {% for mailbox in mailbox_guests %}
                    <tr>
                        <th> {{ mailbox.guest.username }} </th>
                        <th> {{ mailbox.guest.email }} </th>
                        <th>
                            {% if mailbox.mailbox.owner == user %}
                                <a href="{% url 'mailbox:mailbox_guest_delete_url' mailbox.pk %}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content%} 